@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 50px;
    position: relative;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

section.active::before{
    opacity: 1;
}

.container {
    height: 100%;
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    padding: 5px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

section.active .container {
    visibility: hidden;
}

.container .main-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 100%;
    z-index: 999;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    visibility: visible;
}

section.active .container .main-video {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
}

.container .main-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
}

.container .main-video .close {
    position: absolute;
    top: -10px;
    right: -36px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

.container .videos {
    height: 200px;
    width: calc(100% / 2 - 5px);
    margin: 5px 0;
    position: relative;
    pointer-events: auto;
}

.container .videos::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.container .videos video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    outline: none;
}

.container .videos i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    pointer-events: none;
}

@media (max-width: 750px) {
    .container .main-video {
        position: fixed;
        width: 83%;
    }

    .container .videos {
        width: 100%;
        height: 320px;
    }
}

@media (max-width: 600px) {
    .container .videos {
        height: 250px;
    }
}